<div class="links">
  <a class="dog-link" href="/">Want to look at some dogs?</a>
</div>
<div class="dog-individual">
  <ul>
    <li><%= @dog.fetch("name") %></li>
    <li><%= @dog.fetch("breed") %></li>
    <li><%= @dog.fetch("age") %></li>
  </ul>
</div>
