<h1>Cats!</h1>

<div class="cat-list">
  <% @cats.each do |cat| %>
  <div class="cat-individual">
    <ul>
      <li><%= cat.fetch("name") %></li>
      <li><%= cat.fetch("breed") %></li>
      <li><%= cat.fetch("age") %></li>
    </ul>
  </div>

  <% end %>
